# === Java / Maven ===
/DNs-Java/target/

# === C++ / CMake ===
/master-cpp/build/

# === Python ===
/__pycache__/
/*.pyc

# === Binaries / logs / dbs temporales ===
*.class
*.o
*.a
*.jar
*.log
*.db

# === Artefactos locales del proyecto (si no los versionas) ===
/.gridFS/
/gridFS/
.client/

# venvs/entornos
/.venv/
/env/
/.ENV
/.env

# Stubs generados de gRPC
proto/*_pb2.py
proto/*_pb2_grpc.py
DNs-Java/src/main/java/com/gridfs/proto/*.java
master-cpp/*pb.cc
master-cpp/*pb.h

# === DataNode data y directorios temporales ===
/DNs-Java/data/
/tmp/gridfs/

# === Archivos de respaldo y limpieza ===
master-cpp/*.cpp.__clean__
master-cpp/*.h.__clean__
master-cpp/*.cpp.*
master-cpp/*.h.*

# === Stubs Python generados ===
/generated/py-stubs/

# === Archivos de bytecode en subdirectorios ===
**/*.class
**/*.pyc

# === Archivos de configuración de IDEs ===
.vscode/
.idea/